{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Todo</title>
</head>
<body>

    {% for todo, form in todos_forms %}
        <p>
            {{todo.title}}
            <br>
            {{todo.details}}
            <br>
            {{todo.has_been_done}}
            <br>
            {{todo.date_creation}}
            <br>
            {{todo.date_completion}}
            <br>
            {{todo.deadline_date}}
            <br>
        </p>
        <p>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Submit</button>
            </form>
        </p>
    {% endfor %}


    

</body>
</html>