<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/header'); %>

    <main>
        <div class="post-content">
            <h1 class="display-4">The Fact Site</h1>
            <p class="lead">Welcome to the Fact Site</p>
            <%- include('../partials/posts'); %>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>
</body>

</html>